/* .doctors {
    display: none;
} */

socials-box {
    font-size: 3rem;
    background-color: #0a4b59;
 }
 
 .social-icons {
     margin: 3rem;
 }
 
 .social-icons:hover {
     color:white;
 }
 
 .contact {
     margin: 20px;
     box-shadow: 0 0 4px #74cac0;
     border-radius: 5px;
     padding-bottom: 0rem;
 }
 .socials-mainlayout {
     color: #74cac0;
     font-size: 3rem;
     background-color: #0a4b59;
     text-align: center;
 }
 .social-heading {
     color: white;
     text-align: center;
     padding-top: 2rem;
     border-radius: 5px;
     font-size: 2rem;
 }
 
 body {
     background-color: #0a4b59 !important;
 }
 
 @media screen and (max-width: 500px) {
     /* .socials-mainlayout {
         margin-top: 25rem;
     }
     .socials-box {
         display: none;
     }
     .social-heading {
         margin-top: 20rem;
     } */
     .contact {
         margin-top: 24rem;
         width: 85%;
         margin-left: 7.5%;
     }
     .socials-mainlayout {
         display: flex;
         
     }
     
 }



