/* .doctors {
    display: none;
} */
.appointments-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 0 5px #74cac0;
    border: 5px;
    margin-top: 1rem;
    /* overflow: scroll; */
    height: 112%;
    /* overflow-x: hidden; */
    
}
.appointment {
    background-color: #74cac0;
    color: black;
    margin: 3%;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    border: 5px;
    font-size: 13px;
    justify-content: center;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointment-button {
    display: flex;
    justify-content: center;
    background-color: #0A4B59;
    color: white;
    margin: 3%;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
    border: 5px;
    font-size: 100%;
    padding: 13px;
}

 .body {
     background-color: #0a4b59;
     box-shadow: none;
 }

 .appointment-heading h1 {
    color: white;
    font-size: 22px;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 5px #74cac0;
    border: 5px;
    
}

.sidebar {
    height: 94.5vh;
}

 
 @media screen and (max-width: 1050px) {
        .appointments-section {
            justify-content: center;
        }
        .appointment {
            width: 85%;
        }
        .appointment-heading h1 {
            font-size: 20px;
        }
    }     
 



