.admin-appointments {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 5px #74cac0;
  border: 5px;
  padding: 0rem 1rem;
  margin-top: 1rem;
}

.admin-appointments h2 {
  color: white;
  font-size: 22px;
  margin-top: 1rem;
}

.single-appointment {
  background-color: #74cac0;
  color: black;
  margin: 0.5rem 0rem;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  border: 5px;
  font-size: 13px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
  width: 100%;
  text-align: left;
}

.single-appointment p {
  margin: 10px;
  justify-content: left;
  width: 100%;
}

.admin-appointment-button {
  background-color: #0a4b59;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  border: 5px;
  margin-right: 1rem;
}

.button-section {
  display: flex;
}

.map-container {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollable-container {
  /* height: 85vh; */
  /* overflow: auto; */
  /* overflow: hidden; */
}
