.doctors-layout {
  height: 94vh;
}

.doctors-layout .booking-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: none;
  text-align: center;
  margin-bottom: 3%;
}

.doctors-layout .booking-button {
  background-color: #0a4b59;
  color: white;
  margin: 3%;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  border: 5px;
  font-size: 13px;
  padding: 16px;
  width: 39%;
}

.doctors-layout .booking-button:hover {
  background-color: #136375;
  box-shadow: 0 0 5px black;
}

.doctors-layout .doctors {
  /* width: 100%; */
  height: 100%;
  display: flex;
  background-color: #0a4b59;
  overflow-y: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 0 5px #74cac0;
}

/* THIS IS A DOUBLE UP AND COMBO OF BOTH WAS ON ////////////// */

.doctors-layout .box {
  margin-left: 0 !important;
  background-color: #74cac0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  margin-top: 1rem;
  min-width: 400px;
}

.box {
  margin: 2rem;
  margin-top: 1rem;
  /* height: 38rem; */
  width: 24rem;
  background-color: #74cac0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  /* width: 25%;
  margin-left: 10% */
}

.doctors-layout .box p {
  text-align: center;
}
/* //////////////////////////////////// */

.doctors-layout .imgBx {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 0;
  width: 90%;
  height: 90%;
}

.imgBx {
  margin: 2rem 2.6rem;
  width: 300px;
  height: 200px;
}

/* /////////////////////////////////// */

.doctors-layout .datepicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctors-layout .bio {
  font-size: 14px;
  text-align: center;
  padding-left: 10px;
  padding: 0px 20px 0px 20px;
}

.doctors-layout .doctor-image {
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.date-picker {
  margin-bottom: 3%;
}

.body {
  border-radius: 5px;
  box-shadow: 0 0 4px #74cac0;
  height: 74vh;
  width: 100%;
  /* display: flex; */
}

/* ======== MEDIA QUERIES SOCIALS(MEDIUM DEVICES) ======== */
@media screen and (max-width: 1180px) {
  .doctors-layout .box {
    width: 75%;
  }
}

/* ======== MEDIA QUERIES (SMALL DEVICES) ======== */

@media screen and (max-width: 800px) {
  .doctors-layout .doctor-heading {
    width: 95%;
  }

  .doctors-layout .button {
    margin: 0;
    padding: 0;
  }

  .doctors-layout .body {
    width: 95%;
    height: 75vh;
  }

  .doctors-layout .box {
    margin-left: 2rem !important;
    width: 75%;
    /* width: 100%; */
    /* margin-left: 1rem; */
  }

  .doctors::-webkit-scrollbar {
    display: none;
  }
}
