

.doctors-layout .doctors {
  display: flex;
  background-color: #0a4b59;
  overflow-y: scroll;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 0 5px #74cac0;
  height: 88vh;
}

.doctors-layout .box {
  margin-left: 0 !important;
  background-color: #74cac0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  margin: .5rem 0;
  min-width: 400px;
  width: 24rem;
  height: 86vh;
}

.doctors-layout .box p {
  text-align: center;
}

.doctors-layout .imgBx {
  display: flex;
  justify-content: center;
  margin: 5%;
  padding: 0;
  width: 90%;
  height: 35%;
}


.doctors-layout .booking-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
  background-color: none;
  text-align: center;
  margin-bottom: 3%;
  background-color: #74cac0;
  
}

.doctors-layout .booking-button {
  background-color: #0a4b59;
  color: white;
  margin: 3%;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  border: 5px;
  font-size: 13px;
  padding: 16px;
  width: 39%;
}

.time-date-selector {
  background-color: white;
  color: white;
  margin: 2%;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  border: 5px;
  font-size: 13px;
  padding: 16px;
  width: 39%;
}

.doctors-layout .booking-button:hover {
  background-color: #136375;
  box-shadow: 0 0 5px black;
}

.doctors-layout .datepicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctors-layout .bio {
  font-size: 14px;
  text-align: center;
  padding-left: 10px;
  padding: 0px 20px 0px 20px;
}

.doctors-layout .doctor-image {
  width: 100%;
  border-radius: 5px;
  position: relative;
}

/* .date-picker {
  margin-bottom: 3%;
} */

.body {
  border-radius: 5px;
  box-shadow: 0 0 4px #74cac0;
  /* height: auto; */
  width: 100%;
}

/* ======== MEDIA QUERIES SOCIALS(MEDIUM DEVICES) ======== */
@media screen and (max-width: 800px) {
  *::-webkit-scrollbar {
    display: none;
  }
  .doctors-layout .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .doctors-layout .imgBx {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 5%;
    padding: 0;
    width: 90%;
    height: 45%;
  }
 
  .doctors-layout .doctors {
    display: flex;
    background-color: #0a4b59;
    overflow: visible;
    box-shadow: none;
    width: 90%;
    margin-left: 7%;
  }


  .booking-container {
    background-color: #74cac0;
  }

  .doctors-layout .box {
    margin-bottom: 2rem;
    width: 90%;
    
  } 

   .main-heading h1 {
    width: 90%;
    margin-left: 7%;
    margin-top: 5%;
    text-align: center;
    
  } 

  .sidebar-header {
    display: flex !important;
    flex-direction: column !important;
    background-color:#74cac0;
    padding-bottom: 2%;
  }
}

/* ======== MEDIA QUERIES (SMALL DEVICES) ======== */

@media screen and (max-width: 460px) {
  .doctors-layout .doctors {
 
    background-color: #0a4b59;
    overflow: visible;
    box-shadow: none;
    width: 90%;
    
    
  }
  .doctors-layout .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }

}