.doctor-image {
    background-color: red;
    width: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    border-radius: 5px;
    
}

.bio {
    font-size: 14px;
    /* width: 80%; */
    text-align: center;
    padding-left: 10px;
    padding: 0px 20px 0px 20px;
}
.menu {
    margin-top: 100px;
}

.main {
    padding: 20px;
    height: 100vh;
    background-color: #0A4B59;
}

.sidebar {
    background-color: #74cac0;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
    min-height: 100%;
    padding: 10px;
    width: 300px;
}

.sidebar-header h1 {
    padding-left: 0.7rem;
}

.layout-header {
    color: black;
    padding-top: 2rem;
    padding-left: 5rem;
    margin-bottom: 20px;
    height: 10vh;
    width: 100%;
    background-color: #0A4B59;
}

.body {
    border-radius: 5px;
    box-shadow: 0 0 4px #74cac0;
    height: 74vh;
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
}

.menu-item {
    margin-top: 30px;

}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-item i {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}

.active-menu-item {
    color: white;
    background-color: #0A4B59;
    padding: 5px;
    border-radius: 5px;
}

.doctors {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #0A4B59;
    overflow-y: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
}

.box {
    margin: 2rem;
    margin-top: 3rem;
    height: 38rem;
    width: 24rem;
    background-color: #74cac0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    
}

.imgBx {
    margin: 2rem 2.6rem;
    width: 300px;
    height: 200px;
}

.box p {
    text-align: center;
}