/* effects entire page  */

.main {
  padding: 20px;
  background-color: #0a4b59;
  height: 100vh;
}

/* flex direction between nav and page specific elements (note - d-flex removed from tag, so this is now in play */
.page-layout {
  display: flex;
  flex-direction: row;
  flex: 100%;
  /* height: 85vh; */
}

/* entire side bar properties */
.sidebar {
  background-color: #74cac0;
  border-radius: 5px;
  box-shadow: 0 0 2px gray;
  margin-right: 20px;
  height: 96vh;
  padding: 10px;
  width: 300px;
}

.sidebar-header h1 {
  font-size: 33px;
  text-align: center;
}

.sidebar a {
  margin-left: -40px;
}

/* user info and icon styling */
.person-icon {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.user-name {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 1rem;
  font-size: 16px;
  text-align: center;
}

/* menu items */
.menu {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 50%;
  flex: 100%;
  margin-top: 100px;
}

.menu a {
  margin-bottom: 20%;
}

/* Sets the styling of current location buttons */
.active {
  background-color: #0a4b59;
}

/* hamburger icon */
.hamburger {
  display: none;
}

/* ======== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 100%;
    padding: 0;
  }

  .page-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .sidebar-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .sidebar-header h1 {
    font-size: 20px;
    /* padding: 0.5rem; */
  }


  .title-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .person-icon {
    color: white;
    font-size: 20px;
  }

  .user-name {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
  }


  /* LIST ITEMS  */
  .menu button {
    margin-top: 2%;
    margin: 0;
  }

  .menu {
    margin: 0;
    padding: 0;
    display: none;
  }

  .menu a {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  .hamburger {
    display: inline-block;
    background-color: transparent;
    border: none;
    align-items: center;
    margin-right: 1rem;
    font-size: 35px;
    color: white;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .menu.show {
    display: flex;
  }
}