.admin-container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px #74cac0;
  border: 5px;
}
.users {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px #74cac0;
  border: 5px;
}
.doctors {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px #74cac0;
  border: 5px;
}

.appointments {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px #74cac0;
  border: 5px;
}
